body{
    text-align: center;
    margin: 20%;
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#laugh{
    order: 3;
}
#love{
    order: 2;
}
#like{
    order: 1;
}
